body {
  font-family: "Roboto", sans-serif;
  background: radial-gradient(
    827px at 47.3% 48%,
    rgb(255, 255, 255) 0%,
    rgb(138, 192, 216) 90%
  );
  background-repeat: no-repeat;
  min-height: 100vh;
}
.weather-app {
  background: #f5f9fb;
  max-width: 600px;
  margin: 40px auto;
  padding: 60px;
  border-radius: 14px;
  box-shadow: 15px 15px 52px 15px rgba(135, 174, 194, 1);
}
